$background: #E0E0E0;
$dark-background: #04275b;
$main: #2196F3;
$text: black;
$accent: #FFC107;
$secondary-text: #212121;
$complement-1: #0D47A1;
$complement-2: #9C27B0;
$complement-3: #8BC34A;
$complement-4: #FF5722;
$complement-5: #1976D2;

// fonts
$oswald: "Oswald", sans-serif;
$roboto: "Roboto", sans-serif;

//breakpoints
$tablet: 768px;
$largePhone: 425px;
$smallPhone: 375px;
